body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    background-size: 100%;
    background: rgb(51, 106, 143);
    background: linear-gradient(180deg, rgb(69, 129, 168) 0%, rgb(97, 84, 143) 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h2{
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;
}

/*Container*/
.container {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin: 0;
    padding-top: 0;
    border-top: 0;
    height: 671px;
    
}

.zag_1{
    font-family: 'Montserrat', cursive;
    font-size: 16px;
    color:black;
    margin-bottom: 2px;
    margin-left: 20px;
    padding: 0;
}

.pole_1{
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    color:black;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 20px;
    padding: 0;
}

.button{
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    color: black;
    background-color: rgb(253, 182, 95);
    padding: 0;
    margin: 0;
    margin-left: 20px;
    border: 1px solid black;
}