body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*Container*/
.container {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin: 0;
    padding-top: 0;
    border-top: 0;
    height: 671px;
}

h1{
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30;
    margin-bottom: 10px;
    padding-top: 0;
    margin-left: 20px;
}

.zag_1{
    font-family: 'Montserrat', cursive;
    font-size: 16px;
    color:black;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 17px;
    padding: 0;
}

.pole_1{
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    color:black;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 35px;
    padding: 0;
}